<h1 class="heading"><span>Menu</span></h1>
  
<div class="box-container">
  <% @menus.each do |menu| %>
    <div class="box">
      <span class="price">￥<%= menu.price %></span>
      <% if menu.image.present? %>
        <%= image_tag menu.image.to_s %>
      <% else %>
        <%= image_tag "/images/s-img-1.jpg", alt: "" %>
      <% end %>
      <h3><%= menu.name %></h3>
      <h3><%= menu.kcal %><em>kcal</em></h3>
      
    </div>
  <% end %>
</div>