<p>名前：<%= @contact.name %></p>
<p>名前：<%= @contact.email %></p>
<p>電話番号：<%== @contact.phone_numb %></p>
<hr>
<div>お問い合わせ内容：</div>
<p><%== @contact.message%></p>
<hr>
<span>折返し方法：</span><%= @contact.answer_to_return %>