<footer>

  <div class="share">
    <%= link_to 'home', root_path, class: "btn" %>
    <%= link_to 'news', posts_path, class: "btn" %>
    <%= link_to 'menu', '#menu', class: "btn" %>
    <%= link_to 'location', '#location', class: "btn" %>
    <%= link_to 'contact', '#contact', class: "btn" %>
  </div>

  <h1 class="credit"> created by <span> Hiroshi Hatazawa </span> | all rights reserved! </h1>

</footer>
